html {
  height: 100%;
}

body {
  min-height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  padding-inline: 20px;

  color: white;
  background-color: hsl(0, 0%, 7%);
}

main {
  padding-top: 32px;
  padding-bottom: 64px;
}

ul,
ol {
  margin-block: 24px;
}

nav ul {
  list-style-type: none;
}

nav ul li,
nav ol li {
  margin-bottom: 12px;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 0.875rem;

  color: hsl(0, 0%, 80%);
}

figure img {
  height: auto;
}

hr {
  margin: 0;
  margin-bottom: revert;
}

a {
  text-decoration: none;
}

a,
a:active {
  color: #5ec8f2;
}

a:visited,
a:visited:active {
  color: #9d7bc7;
}

a:hover,
a:active {
  text-decoration: underline;
}

/* Typography */
@font-face {
  font-family: "Fredoka";
  src: url(./assets/Fredoka-Variable.ttf);
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Fredoka", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.15;

  margin-block: 1.625rem;
}

h2 {
  font-size: 1.5rem;

  margin-top: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.125rem;

  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}

h2,
h3 {
  font-weight: 600;
}

h4,
h5,
h6 {
  font-size: 1rem;

  margin-top: 1.25rem;
  margin-block: 0.75rem;
}

strong {
  font-weight: 600;
}
/* \ Typography */

/* Components */
.container {
  max-width: 340px;
  margin-inline: auto;
}

.index-title {
  font-size: 1.5rem;
  line-height: 1;
}

.text-credit {
  font-size: 1rem;
}

.article-header {
  margin-block-end: 52px;
}

.file-tree {
  position: relative;
  margin-block: 20px;

  line-height: 1.5;

  color: #212529;
  list-style: none;
}

.file-tree ul {
  margin: 0;
  padding-left: 5px;

  list-style: none;
}

.file-tree li {
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
}

.file-tree li::before {
  position: absolute;
  top: 15px;
  left: 0;
  content: "";

  width: 10px;
  height: 1px;
  margin: auto;

  background-color: #666;
}

.file-tree > ul > li::before,
.file-tree > ul > li::after {
  display: none;
}

.file-tree li::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  content: "";

  width: 1px;
  height: 100%;

  background-color: #666;
}

.file-tree li:last-child::after {
  height: 15px;
}

.photo-gallery {
  overflow: hidden;
}

.img-gallery {
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 8px;
  padding: 24px;
}

.img-gallery > img {
  height: auto;

  object-fit: cover;
}

.img-gallery.-two-cols > img {
  width: 45%;
  height: auto;
}

.menu-links {
  display: flex;
}

.menu-links > a {
  display: inline-block;
  padding: 16px;

  text-decoration: none;
  transition: background-color 200ms linear;
}

.menu-links > a:hover {
  background-color: hsl(0, 0%, 93%);
}

.menu-links > a:active {
  background-color: hsl(0, 0%, 88%);
}

/* Helpers */
._none {
  display: none !important;
}

._cover {
  object-fit: cover !important;
}

._contain {
  object-fit: contain !important;
}

._mb-2 {
  margin-bottom: 0.5rem !important;
}

._mb-3 {
  margin-bottom: 1rem !important;
}

._mb-4 {
  margin-bottom: 1.5rem !important;
}

._nowrap {
  white-space: nowrap;
}

._text-muted {
  color: hsl(0, 0%, 85%) !important;
}
